/* 고급웹프로그래밍(6084) 과제 #1 김영환 60221304 */
#box-background{
    justify-content: center;
    place-items: center;
    background-color: blanchedalmond;
    font-family: sans-serif;
    text-align: center;
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 200px;
}
#box-header{
    background-color: mediumseagreen;
}
#main-name{
    display: flex;
    justify-content: center;
}
